@using MvcStock.Models.Entity;
@model List<CATEGORIES>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>CATEGORY ID</th>
        <th>CATEGORY NAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach(var ktgr in Model)
         {
                <tr>
                    <th>@ktgr.KATEGORIID</th>
                    <td>@ktgr.KATEGORIAD</td>
                    <td><a href="/CATEGORY/DELETE/@ktgr.KATEGORIID" class="btn btn-danger">DELETE</a></td>
                    <td><a href="/CATEGORY/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">UPDATE</a></td>
                </tr>
         }
    </tbody>
</table>
<a href="/CATEGORY/YeniKategori/" class="btn btn-primary">ADD NEW CATEGORY</a>


