@using MvcStock.Models.Entity;
@model List<CUSTOMERS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CUSTOMER ID</th>
        <th>CUSTOMER ADI</th>
        <th>CUSTOMER SOYADI</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach(var cus in Model)
            {
                <tr>
                    <th>@cus.MUSTERIID</th>
                    <td>@cus.MUSTERIAD</td>
                    <td>@cus.MUSTERISOYAD</td>
                    <td><a href="/CUSTOMER/DELETE/@cus.MUSTERIID" class="btn btn-danger">DELETE</a></td>
                    <td><a href="/CUSTOMER/UPDATE/@cus.MUSTERIID" class="btn btn-success">UPDATE</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/CUSTOMER/YeniMusteri/" class="btn btn-primary">ADD NEW CUSTOMER</a>

