@model MvcStock.Models.Entity.CUSTOMERS
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:green" })
        @*<input type="text" class="form-control" name="MUSTERIAD" />*@
    </div>

    <div>
        <label>Customer Surname</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">ADD CUSTOMER</button>
    </div>
</form>

